.section--pick-car {
    //pick-car child of panel
    .pick-car {
        display: flex;
        width: 100%;
        flex-direction: column;

        @include responsive(md) {
            flex-direction: row;
            .car, .table {
                flex: 1;
            }
        }
        @include responsive(lg) {
            .car {
                flex-grow: 3;
            }
        }

        .car {
            position: relative;
            text-align: center;
            min-height: 350px;

            img {
                margin: 3rem auto;
                width: 90%;
                @include responsive(md) {
                    margin: 0;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
                @include responsive(xl) {
                    width: 70%;
                }
            }
        }
        .table {
            position: relative;
            overflow: hidden;
            &::after {
                content: '';
                display: block;
                position: absolute;
                z-index: $floor-index;
                inset: 0;
                height: 100%;
                top: -100%;
                background: #fff;
                @include responsive(md) {
                    animation: display 1s;
                }
            }
            @include responsive(lg) {
                min-width: 285px;
            }
            .table-heading {
                background: $primary-color;
                padding: 1rem 2rem;
                h4 {
                    color: #fff;
                    font-size: 1.8rem;
                    span {
                        font-size: 2.8rem;
                        font-weight: bold;
                    }
                }
            }
            .table-content {
                border: 2px solid #222;
                border-top-color: transparent;
                .table-content--row {
                    display: flex;
                    padding: 1rem;
                    span {
                        color: #222;
                        flex: 1;
                        text-align: center;
                        padding: 0rem 1rem;
                        &:first-child {
                            border-right: 2px solid #222;
                        }
                    }
                }
            }
            .table-footer {
                position: relative;
                z-index: $ceil-index;
                margin-top: 1.5rem;
                .btn-primary {
                    transition: all .3s;
                    padding: 1rem;
                    display: block;
                    font-weight: bold;
                    font-size: 2rem;
                    text-align: center;
                }
            }
        }
    }
    .loader {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
            content: '';
            display: block;
            border: 5px solid $primary-color;
            border-radius: 50%;
            border-top: 5px solid #fff;
            width: 50px;
            height: 50px;
            animation: spin 2s linear infinite;
        }
    
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    @keyframes display {
        0% { top: -100%; }
        50% { top: 0%; }
    }
}