// header-nav
//     header-nav--logo
//     header-nav--links
//     header-nav--buttons
//         mobile-nav-open
//     mobile-nav
//         mobile-nav--scroll
//             mobile-nav-close
//             mobile-nav-links
.header-nav {
	display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    padding: 25px 0;
    border-bottom: 1px solid #ccc;
    
    .header-nav--logo img {
        height: 50px;
    }

    .header-nav--links {
    	display: none;
        @include responsive(xl) {
            display: block;
        }
        a {
            font-size: 1.6rem;
            padding: 10px;
            color: #000;
            font-weight: bold;
            display: inline-block;
            
            div {
                position: relative;
                display: inline-block;
                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    left: 0;
                    height: 3px;
                    background-color: $primary-color;
                    bottom: 0;
                    transform-origin: right;
                    transform: scaleX(0);
                    transition: transform .3s ease-in-out;
                }
            }

            &:hover, &.active {
                div {
                    color: $primary-color;
                    &:before {
                        transform-origin: left;
                        transform: scaleX(1);
                    }
                }
            }
        }
    }

    .header-nav--buttons {
    	display: flex;
        align-items: center;
        column-gap: 10px;
        > a {
            display: none;
            @include responsive(sm) {
                display: inline-block;
            }
        }
        .mobile-nav--open {
	        display: block;
			order: 3;
			a {
			    text-decoration: underline;
			}
			@include responsive(xl) {
			    display: none;
			}
        }
    }
}
// mobile
.header-nav {
	.mobile-nav {
		position: fixed;
        z-index: $fixed-index;
        top: 0;
        height: 100vh;
        width: 100%;
        left: -105%;
        background: #222;
        box-shadow: 10px 0px 15px -10px rgba(0,0,0,0.75);
        transition: all .3s;

        .mobile-nav--scroll {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 2.5rem;

            position: absolute;
            top: 40px;
            bottom: 40px;
            left: 0;
            right: 0;
            overflow: auto;
        }

        .mobile-nav--close {
        	position: absolute;
            top: 0;
            right: 0;
            a {
                color: #fff;
                text-decoration: underline;
                &:hover {
                    color: $primary-color;
                }
            }
        }

        .mobile-nav--links {
        	display: flex;
            flex-direction: column;
            a {
                text-align: center;
                font-size: 1.6rem;
                padding: 10px;
                color: #fff;
                font-weight: bold;
                display: inline-block;

                div {
                    position: relative;
                    display: inline-block;
                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        left: 0;
                        height: 3px;
                        background-color: $primary-color;
                        bottom: -5px;
                        transform-origin: right;
                        transform: scaleX(0);
                        transition: transform .3s ease-in-out;
                    }
                }
    
                &:hover, &.active {
                    div {
                        color: $primary-color;
                        &:before {
                            transform-origin: left;
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }

    	.header-nav--buttons a {
    		display: inline-block;
    	}
	    
	    &.show {
	        left: 0;
	    }
	}
}






// hero
.hero {
    .container {
        display: flex;
        align-items: center;
    }
    .hero-content {
        position: relative;
        z-index: $ceil-index;
        @include responsive(xl){
            max-width: 40%;
        }
        .subtitle {
            font-weight: bold;
            font-size: 2.2rem;
        }
        .title {
            font-weight: bold;
            font-size: 5.2rem;
            line-height: 1.2;
            margin-bottom: 2.3rem;
            margin-top: 1rem;
            span {
                color: $primary-color;
            }
        }
        .desc {
            margin-bottom: 4rem;
        }
        .btn + .btn {
            margin-top: 2rem;
            @include responsive(400px) {
                margin-top: 0;
                margin-left: 2rem;
            }
        }
    }
    .hero-image {
        display: none;
        @include responsive(xl){
            text-align: center;
            display: block;
        }
        img {
            width: 85%;
            transform: scale(1.2);
        }
    }
    .hero-background {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
}

//header
.page-header {
    position: relative;
    .hero {
        &::after {
            background-image: url(../images/headerBackground.jpg);
            background-position: bottom center;
            background-size: cover;
            background-repeat: no-repeat;
            content: '';
            display: block;
            position: absolute;
            inset: 0;
            opacity: 0.1;
            z-index: -1;
        }
    }
    .hero-content {
        .title {
            margin: 0;
        }
    }
}