.cursor {
    position: fixed;
    z-index: $fixed-index;
    top: -40px;
    left: -40px;
    opacity: 0;
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    transition: opacity .6s;
    pointer-events: none;
    backdrop-filter: invert(100%);
}
body {
    &:hover {
        #cursor {
            opacity: 1;
        }
    }
}